div.postBtn {
    display: inline-block;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 33px;
    line-height: 33px;
    white-space: nowrap;
    background: rgb(66, 103, 178) none repeat;
    border: 1px solid rgb(66, 103, 178);
    border-radius: 3px;
    padding: 0 7px;
}


